*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: coral;
}


.container{
    width: 85%;
    margin: auto;
    border: 15px solid;
    border-image:linear-gradient(to right,  blue, orange , green, red) 1;
    background-color: white;
}

#title{
    color: red
}

.top-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#your-balance{
    color: green;
}

#income-rupee{
    color: rgb(16, 234, 129);
}

#expense-rupee{
    color: red;
}

.in-ex{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.history{
    text-align: center;
    margin: 1rem;
}

.table {
    /* width: 80%; */
    margin: auto;
    text-align: center;
    padding: 0.5rem;
}

th{
    box-shadow: 0px 1px 1px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background: rgb(163, 231, 5);
}

td{
    border: 0.1px solid black;
    padding: 0.4rem;
    /* text-wrap: nowrap; */
}

.add-trans{
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem;
}

/* Add Transaction Button  */
.icon{
    height: 50px;
    width: 50px;
    background-color: blue;
    text-align: center;
    align-content: center;
    font-size: 2rem;
    border-radius: 50%;
    border:none;
    color: white;
    cursor: pointer;
}

.icon:hover{
    background-color: rgb(8, 7, 8);
}


/* form for add transaction */
.popup-form{
    min-height:280px;
    width: 250px;
    background-color: rgb(229, 207, 13);
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    align-content: center;
    display: none;
}

/* close button  */

#close-btn{
    background-color: transparent;
    border: none;
    position: relative;
    left: 6.5rem;
    top: -1.5rem;
    font-size: 20px;
    cursor: pointer;
}

/* input and select  */
input,#select{
    margin-top: 0.5rem;
    min-height: 2rem;
    width: 80%;
}

.submit-btn,.update-btn{
    margin-top: 0.5rem;
    width: 80%;
    height: 2rem;
    background-color: red;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.submit-btn,.update-btn:hover{
    cursor: pointer;
}

.update-btn{
    display: none;
    margin-left: 1.7rem;
    background-color: rgb(75, 58, 87);
    color:white;
}

.edit-btn , .del-btn{
    background-color: chocolate;
    width: 3rem;
    border: none;
    height: 1.5rem;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 2px 2px black;
    cursor: pointer;
}

.del-btn{
    background-color: red;
}

.edit-btn:hover{
    background-color: white;
    color: black;
}

.del-btn:hover{
    background-color: white;
    color: black;
}

tr:nth-of-type(2n){
    background-color: aqua;
}

#addt{
    color:#060606;
    font-weight: 900;
}

/* media Queryes for responsive every device */

@media (max-width: 760px) {
    th {
        padding: 0.2rem;
        font-size: 11px;
    }
}

@media (max-width:400px ){
    .add-trans{
        position: fixed;
        top: 45px;
        right: 25px;
        margin: 2rem;
    }
}


@media (max-width: 350px){
    #title{
        font-size: 25px;
    }

    .table  tr{
        display: flex;
        flex-direction: column;
    }
}